append variables
 -
    var services = [
      {
        icon:'support.png',
        title:'24x7 Support',
        text:'Choose the location where your food will be delivered.'
      },
      {
        icon:'edit.png',
        title:'Easy Claim System',
        text:'Check over hundreds of menus to pick your favorite food'
      },
      {
        icon:'money.png',
        title:'Easy installments',
        text:`It's quick, safe, and simple. Select several methods of payment`,
      },
       {
        icon:'security.png',
        title:'Strongly Secured',
        text:'Food is made and delivered directly to your home.',
      },
    
    ]

mixin Service(config)
  .col-sm-6.col-md-3.mb-6
    img.shadow-icon(src=`${CWD}assets/img/icons/${config.icon}` height='50' alt='...')
    h5.mt-4.fw-normal.text-200=config.title
    p.mb-md-0=config.text

mixin Services
  +Section.bg-primary-gradient
    .row.justify-content-center.g-0
      .col-xl-10.col-xxl-9
        .col-lg-6.mb-3.mb-md-5.mt-4
          h2.text-light Best Services
        .row
          each service in services 
            +Service(service)    