.img-shape {
	position: relative;
	display: inline-block;

	@include media-breakpoint-up(sm) {
		&::before {
			position: absolute;
			content: '';
			top: -1.5rem;
			left: -1.5rem;
			height: 10.125rem;
			width: 11rem;
			border-radius: 1.125rem;
			z-index: -1 !important;
			opacity: .3;
			background-image: linear-gradient(200deg, rgba(24, 107, 232, 1),rgba(24, 107, 232, 1));
		}
		&::after {
			position: absolute;
			content: '';
			height: 10.125rem;
			width: 11rem;
			border-radius: 1.125rem;
			z-index: -1 !important;
			top: 43%;
			left: 53%;
			border: 1px solid #186BE8;
			opacity: .5;
			background: transparent;
		}
	}

	@include media-breakpoint-up(md) {
		&::before {
			height: 10.125rem;
			width: 11rem;
			top: -2.5rem;
			left: -2.5rem;
      border-radius: 1.125rem;
    }
		// &::after {
		// 	height: 10.125rem;
		// 	width: 11rem;
		// 	border-radius: 1.125rem;
		// 	top: 7rem;
		// 	left: 13rem;
		// }
	}

	@include media-breakpoint-up(xl) {
		&::before {
			height: 15.125rem;
      width: 16rem;
			top: -2.5rem;
			left: -2.5rem;
      border-radius: 3.125rem;
    }
		&::after {
			height: 15.125rem;
      width: 16rem;
			border-radius: 3.125rem;
			top: 11rem;
			left: 21rem;
		}
	}
} 
